<section id="content hero">
  <div class="hero px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Made for developers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is a website design by web developers for web developers. Sign up to post your best projects and get feedback from other web devs around the world.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/sign-up" class="btn btn-lg btn-secondary">Sign Up Now</a>
        <a href="/#project-streamer" class="btn btn-outline-secondary btn-lg px-4">Projects</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/portfolio.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</section>