<div class="col-md-5 col-sm-12 article-detail">
  <a href="/project/{{id}}" target="_blank">
    <img src="{{image_url}}" alt="">
  </a>
  <div class="article-info">
    <h4>{{title}}</h4>
    <p>{{user.username}}</p>
  </div>
</div>