<section id="content sm-hero">
  <div class="sm-hero px-4 pt-5 my-5 text-center border-bottom">
    <h2 class="fw-bold">{{title}}</h2>
    <div class="col mx-auto">
      <p class="lead mb-4">{{lead}}</p>
    </div>
  </div>
</section>