<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Dev Connect | Platform For Web Developers</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js"></script>  

    <!-- Bootstrap core CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  </head>


  <body class="text-center">
  
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Dev Connect</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="/login">Log In</a>
            <a class="nav-link" href="#">Contact Us</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner-cover">
        {{{ body }}}
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Made with love ♥ by Cristobal, Lauren, Evan, and Mike.</p>
        </div>
      </footer>
    </div>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>  

    
  </body>   
</html>

