<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">Enter Project Details</h2><hr>

  <form class="new-project-form">
    <div>
      <label for="project-title">title:</label>
      <input class="input" type="text" id="project-title" name="project-title" placeholder="Enter Project Title: "/>
    </div>
    <div>
      <label for="project-description">project-description:</label>
      <input class="textarea is-large" id="project-description" name="project-description" placeholder="Write a description of what your project does:"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create project</button>
  </form>
</section>

<script src="/public/js/project.js"></script>