<section class="container mt-3">
  <div class="row pt-0">
    <div class="col-12 mt-2">
      <div class="accordion" id="new-post">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create New Project
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#new-post">
            <div class="accordion-body">
              <div class="add-project">
                <hr />
                <form class="new-project-form">
                  <div class="col-8 form-group">
                    <label for="project-title" class="font-weight-bold">Title</label>
                    <input class="form-control" type="text" id="project-title" name="project-title" />
                  </div>
                  <div class="col-8 form-group">
                    <label for="image-url" class="font-weight-bold">Screenshot</label>
                    <input class="form-control" type="text" id="image-url" placeholder="Image URL" name="image-url" />
                  </div>
                  <div class="col-12 form-group">
                    <label for="description" class="font-weight-bold">Description</label>
                    <input type="hidden" id="description" name="description"></input>
                    <trix-editor class="trix-content" input="description"></trix-editor>
                  </div>
                  <div class="col-8 form-group">
                    <label for="date" class="font-weight-bold">Date</label>
                    <input type="date" id="date" name="date"></input>
                  </div>
                  <div class="col-8 form-group">
                    <label for="github-url" class="font-weight-bold">GitHub URL</label>
                    <input class="form-control" type="text" id="github-url" placeholder="" name="github-url" />
                  </div>
                  <div class="col-8 form-group">
                    <label for="public" class="font-weight-bold">Public</label>
                    <input type="checkbox" id="public" name="public" {{bindAttr checked="public"}}>
                  </div>
                  <div class="col-3 form-group">
                    <button type="submit" class="btn">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />

<section class="container mb-5">
  <h2 class="mt-5 mb-5">My Portfolio</h2>
  {{#if projects.length}}
  <div class="content">
    <div class="main-content">
      <article class="row">
        {{#each projects as |project|}}
          {{> my-projects project truncate='truncate' dashboard='dashboard'}}
        {{/each}}
      </article>
    </div>
  </div>
  {{else}}
  <p class="mb-5">
    You don't have any project yet. Start now!
  </p>
  {{/if}}

</section>


<script src="/js/add-project.js"></script>