
<h1 class="cover-heading">Welcome to Dev Connect</h1>
<p class="lead">This is a website design by web developers for web developers. Sign up to post your best projects and get feedback from other web devs around the world.</p>
<p class="lead">
  <a href="/login" class="btn btn-lg btn-secondary">Sign In Now</a>
</p>
<section>
  <h1>Homepage</h1>
  <p>Welcome to the homepage!</p>
  {{!-- {{ > project-info}} --}}
</section>

{{!-- <script> src="/js/homepage.js"</script> --}}