{{> hero }}

<section class="project-streamer" id="project-streamer">
  <div class="title">
    <h1>Project Streamer</h1>
    <p class="lead mb-4">Check out the last user's projects.</p>
  </div>

  <div class="content">
    <div class="main-content">
      <article class="row">
        {{#each projects as |project|}}
          {{> project-streamer project truncate='truncate'}}
        {{/each}}
      </article>
    </div>
  </div>



</section>


