{{> sm-hero title='Create an account' lead='Start sharing your portfolio.' }}
<section class="container log-form">
  <form class="signin-form m-5">
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email address" aria-describedby="emailHelp">
      <p  class="form-text"> We'll never share your email with anyone else.</p>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" aria-describedby="passwordinput">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
  </form>
</section>
<script src="/js/signup.js"></script>
