<<<<<<< HEAD
    /* HOME PAGE */
    
    body {
        background-color: rgb(73, 26, 116);
        font-family: 'Inconsolata', monospace;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }

    .text-center h3 {
        color: gray;
    }

    .text-center p {
        color: gray;
    }

    .text-center h1 {
        color: black;
    }

    .inner-cover {
        text-align: center;
        padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .nav-link {
        color: white;
    }

    .btn {
        background-color: rgb(73, 26, 116);
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
=======
/* HOME PAGE */
    
body {
    background-color: rgb(73, 26, 116);
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.text-center h3 {
    color: gray;
}

.text-center p {
    color: gray;
}

.text-center h1 {
    color: black;
}

.inner-cover {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-link {
    color: white;
}

.btn {
    background-color: rgb(73, 26, 116);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
>>>>>>> ed1a6d5169cfe681030ddf2823812ad142950cc6
