/* init */
body {
  background-color: rgb(73, 26, 116);
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}


main {
  background-color: rgb(255, 255, 255);
}

.text-center h3 {
  color: darkgrey;
}

.text-center p {
  color: darkgrey;
}

.text-center h1 {
  color: black;
}

.inner-cover {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* header */
.nav-link {
  color: white;
  font-size: 24px;
}

.btn {
  background-color: rgb(73, 26, 116);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  color: rgb(107, 186, 255);
}

.hero {
  height: 550px;
}

.sm-hero {
  height: 100px;
}


.title {
  display: block;
  width: 100%;
}

/* project streamer */
.project-streamer {
  margin-top: 50px;
  padding: 50px;
  background-color: aliceblue;
  width: 100%;
  flex-wrap: wrap;

}

.main-content {
  flex: 1;
  }


article {
  justify-content:space-evenly

  }
  
.article-detail {
  padding-left: 0px;
  width: 48%;
  min-width: 180px;
  height: 230px;
  overflow: hidden;
  margin: 5px;
  background-color: rgb(231, 230, 233);
  border: 5px solid rgb(236, 217, 254);
  position: relative;
}

.article-one-project {
  width: 100%;
}
  
.article-one-project img {
  width: 100%;
  height: auto;
  margin-top: 0;
}

article img {
  width: 600px;
  height: auto;
  margin-top: -100px;
  opacity: 0.45;
}

  
article img:hover {
  opacity: 1;
}
  
.article-info {
  position: absolute;
  bottom: 0px;
  background-color: rgb(39, 42, 78);
  opacity: 1;
  padding-left: 5px;
  padding-right: 10px;
  color: white;
  width: 100%;
  height: 40%;
  -webkit-mask: linear-gradient(#0000, 2%, #000);
  mask: linear-gradient(#0000, 2%, #000);
}

.public {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
  
article h4 {
  color: white;
  margin-top: 7px;
  font-size: 22px;
  margin-bottom: 30px;
}

.no-opacity img {
  opacity: 1;
}

.form-text {
  font-size: 18px;
}

.log-form {
  max-width: 500px;
  margin-bottom: 100px;
}


.add-project{
  text-align: left;
  font-size: medium;
}

/* footer */
footer {
  color: white;
  padding: 50px;
}

/* media query 575px start */
@media screen and (max-width: 575px) {
  .article-detail {
    width: 108%;
  }

  .nav-link {
    font-size: 17px;
  }
}